div {
    color: red;
    font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

a {
    text-decoration: none;
}
a:link {
    color: black;
}
a:visited {
    color: green;
}
a:hover {
    color: red;
    text-decoration: underline;
}
a:active {
    color: orange;
}
p {
    text-indent: 2em;
    line-height: 20px;
}

#menu {
    color: blue;
    font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
